<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=titulo%></title>
  </head>
  <style>
    .main-container {
        padding: 20px;
        gap: 20px;
        font-size: 18px;
        line-height: 2rem;
    }
    </style>
  <body>
      <%- include('partials/header.ejs') %>

      <%- include('partials/nav.ejs') %>
      
      <div class="main-container">
          <p>
            Portafolio de practicas de nodeJS con express y ejs para la materia de Tecnologias y Apliacaciones Web.
          </p>
          
      </div>

      <%- include('partials/footer.ejs') %>

  </body>
</html>

