<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <title>Tabla de Multiplicar</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <form action="/tabla" method="post">
        <label for="tabla">Tabla</label>
        <input type="number" id="numero" name="numero" requiered min="0"  required value="<%numero%>">
        <button type="submit">Enviar</button>
        <button type="reset" id="limpiarBtn">Limpiar</button>
    </form>
    <section id="resultados">   
    <% if(numero != null) { %>
        <% for(let con = 1; con <= 10; ++con) { %>
            <% let res = con * numero; %>
            <h3><%= numero %> * <%= con %> = <%= res %></h3>
        <% } %>
    <% } %>
    </section>
    <%-include('partials/footer.ejs')%>
    <script>
        const limpiarBtn = document.getElementById('limpiarBtn');

       limpiarBtn.addEventListener('click', function() {
           const resultados = document.getElementById('resultados');
            resultados.innerHTML = '';
        });
    </script>
</body>
</html>
