body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-size: 16px;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
